@mixin text-but($color) {
  padding: 2px 8px 2px 0;
  cursor: pointer;
  color: $color;
  user-select: none;

  &:active {
    color: #66b2e3;
  }
}

.text-but-info {
  @include text-but(var(--el-color-info));
  cursor: pointer;
}

.text-but-primary {
  @include text-but(var(--el-color-primary));
  cursor: pointer;
}

.text-but-success {
  @include text-but(var(--el-color-success));
  cursor: pointer;
}

.text-but-warning {
  @include text-but(var(--el-color-warning));
  cursor: pointer;
}

.text-but-danger {
  @include text-but(var(--el-color-danger));
  cursor: pointer;
}

// 表格下的分页
.table-pagination {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  display: flex;
  justify-content: right;
  align-items: center;

  .table-pagination-left {
    margin-right: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;

    .table-pagination-total {
      font-size: 14px;
      font-weight: 500;
      color: #000000;
    }
  }

  .table-pagination-right {
    //margin-right: 20px;
  }
}

// 主页面
.mainbody-column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .item {
    width: 24%;
    height: 200px;
    margin: 5px 0.5%;
    box-shadow: 0px 2px 20px 0px rgba(76, 100, 134, 0.1) inset;
  }
}

.mainbody-line {
  width: 100%;

  .item {
    box-shadow: 0px 2px 20px 0px rgba(76, 100, 134, 0.2) inset;
  }
}

// 全局公共样式
.mainbody-column::-webkit-scrollbar, .mainbody-line::-webkit-scrollbar {
  width: 0px;
  height: 0px
}

// 基础组件的公共样式
.comp-body {
  width: 100%;
  height: 100%;

  .comp-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
  }

  .comp-content {
    width: 100%;
    height: calc(100% - 30px);
    box-sizing: border-box;
    padding: 5px;
  }
}

.comp-body:hover {
  box-shadow: 0px 2px 20px 0px var(--el-color-primary) inset;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
